:root {
  --font-main: 'Poppins', sans-serif;
  --color-main: #EDBDAC;
  --color-text: #222;
  --color-accent: #ffe4db;
  --border-radius: 1.25rem;
}
/* style main area of project*/
body {
  background-color: #fff;
  text-align: center;
  color: var(--color-text);
  font-family: var(--font-main);
  height: 100vh;
}
main {
  background-color: var(--color-accent);
  margin: 5rem auto;
  padding: 2rem;
  border-radius: var(--border-radius);
  width: 60%;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
/* title */
h1 {
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--color-text);
}
/*search field*/
input {
  width: 70%;
  padding: 0.625rem;
  margin: 1.25rem;
  font-size: 1rem;
  border: solid 1px #ccc;
  border-radius: var(--border-radius)
}
/*submit button to start search*/
#button {
  background-color: var(--color-main);
  color:var(--color-text);
  border-radius: var(--border-radius);
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 2.5rem;
}
#button:hover{
  transform: scale(1.05);
}

/*loader styling*/
#loading {
  font-style: italic;
  font-size: 0.75rem;  
}
/*space where recipe will be displayed*/
#recipespot {
  margin: 1.875rem;
  padding: 0.625rem;
  line-height: 2;
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
}
/* my name and links for project*/
footer {
  opacity: 0.7;
  bottom: 0;
  width: 100%;
  margin: auto 0;
  padding-bottom: 2rem;
  font-size: 0.875rem;
  color: black;
}



@media (max-width: 600px) {
  main {
    margin: 2rem auto;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #recipespot {
    font-size: 0.9rem;
  }

  #button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
  footer {
    font-size: 0.875rem;
    padding-bottom: 1rem;
  }
  
}
